@charset "UTF-8";
* {
  box-sizing: border-box; }

p {
  margin: 0; }

ul {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none;
  color: #515151; }

.marker {
  background: linear-gradient(rgba(0, 0, 0, 0) 60%, #fca1a1 60%); }

.bold-text {
  font-weight: bold; }

.link-hover:hover {
  text-decoration: underline; }

.underline {
  text-decoration: underline; }

@media (min-width: 1025px) {
  .masks:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }

  .iconbox li {
    transform: rotate(360deg); }
    .iconbox li:hover {
      animation: rotate 0.4s linear; }

  @keyframes rotate {
    0% {
      transform: rotate(0deg); }
    50% {
      transform: rotate(180deg); }
    100% {
      transform: rotate(360deg); } } }
.header {
  position: relative;
  background-image: url("../images/header-image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center; }
  @media (max-width: 560px) {
    .header {
      height: 320px; } }
  @media (min-width: 561px) {
    .header {
      height: 400px; } }
  .header__bg {
    position: absolute;
    height: 60px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 16px 40px;
    background-color: #fff;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }
    @media (max-width: 560px) {
      .header__bg {
        width: 60%;
        padding: 16px 0; } }
    @media (min-width: 561px) {
      .header__bg {
        width: 40%;
        padding: 16px 40px; } }
  .header h1 {
    margin: 0;
    font-family: 'Times New Roman','Times','Baskerville',sans-serif;
    letter-spacing: 1.5px;
    font-weight: bold; }
    @media (max-width: 560px) {
      .header h1 {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 24px; } }
    @media (min-width: 561px) {
      .header h1 {
        font-size: 32px;
        font-size: 2rem;
        line-height: 32px; } }

.container {
  width: 100%;
  max-width: 1024px; }
  @media (max-width: 560px) {
    .container {
      padding: 16px; } }
  @media (min-width: 561px) {
    .container {
      padding: 32px 56px 0;
      margin: auto; } }

.section {
  position: relative; }
  @media (max-width: 560px) {
    .section {
      margin-bottom: 100px; } }
  @media (min-width: 561px) {
    .section {
      margin-bottom: 160px; } }
  .section__title {
    text-align: center;
    font-family: 'Times New Roman','Times','Baskerville',sans-serif;
    letter-spacing: 1.5px;
    font-weight: bold; }
    @media (max-width: 560px) {
      .section__title {
        margin: 32px 0;
        font-size: 24px;
        font-size: 1.5rem; } }
    @media (min-width: 561px) {
      .section__title {
        margin: 56px 0;
        font-size: 32px;
        font-size: 2rem; } }

@media (min-width: 561px) {
  .profile .flex-box {
    display: flex;
    justify-content: center; }
    .profile .flex-box__right {
      width: 50%; } }
.profile__imagebox {
  background-image: url("../images/profile_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px; }
  @media (max-width: 560px) {
    .profile__imagebox {
      margin: 0 auto 24px; } }
  @media (min-width: 561px) {
    .profile__imagebox {
      margin-right: 32px; } }
.profile__textbox {
  color: #515151;
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", sans-serif; }
  @media (max-width: 560px) {
    .profile__textbox {
      margin: 0 auto;
      width: 70%;
      text-align: center; } }
  .profile__textbox__row {
    line-height: 25px; }

.question-icon {
  position: absolute;
  top: 0;
  right: 0;
  color: #c4c4c4; }
  @media (max-width: 560px) {
    .question-icon {
      font-size: 24px;
      font-size: 1.5rem; } }
  @media (min-width: 561px) {
    .question-icon {
      font-size: 30px;
      font-size: 1.875rem; } }

@media (min-width: 800px) {
  .skill-wrapper {
    display: flex;
    justify-content: space-between; } }

.skill__block {
  text-align: center;
  color: #515151;
  -moz-box-shadow: 1px 3px 6px 1px #E3E3E3;
  -webkit-box-shadow: 1px 3px 6px 1px #E3E3E3;
  box-shadow: 1px 3px 6px 1px #E3E3E3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", sans-serif; }
  @media (max-width: 799px) {
    .skill__block {
      width: 100%;
      max-width: 400px;
      height: 350px;
      margin: 0 auto 32px;
      padding: 32px 16px; } }
  @media (min-width: 800px) {
    .skill__block {
      width: 31%;
      padding: 32px 16px 56px; } }
  .skill__block__topicon {
    font-size: 40px;
    font-size: 2.5rem; }
  .skill__block__title {
    margin: 16px 0;
    font-size: 18px;
    font-size: 1.125rem; }
  .skill__block__lists {
    margin-top: 24px;
    text-align: left; }
    .skill__block__lists__row {
      display: flex;
      margin-bottom: 8px; }
      .skill__block__lists__row span {
        display: block;
        width: 49%; }

@media (min-width: 561px) {
  .works-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; } }

@media (max-width: 560px) {
  .works__block {
    width: 60%;
    margin: 40px auto; } }
@media (min-width: 561px) {
  .works__block {
    width: 30%;
    margin-bottom: 56px; } }
.works__block__image {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 350px;
  margin-bottom: 24px; }
  .works__block__image .site-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
.works__block #corporate-site__bg {
  background-image: url("../images/corporate-site.png"); }
.works__block #smacam__bg {
  background-image: url("../images/smacam.png"); }
.works__block #weblog__bg {
  background-image: url("../images/weblog.png"); }
.works__block #animal__bg {
  border: 1px solid #eee;
  background-image: url("../images/animal-app.png"); }
.works__block__textbox {
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", sans-serif;
  text-align: center;
  color: #515151; }
  .works__block__textbox__upper {
    margin-bottom: 8px; }
  .works__block__textbox__lower {
    font-size: 12px;
    font-size: 0.75rem; }

.iconbox {
  display: flex;
  margin: auto; }
  .iconbox li:hover {
    background-color: #f7f7f7; }
  @media (max-width: 560px) {
    .iconbox {
      width: 90%;
      max-width: 260px;
      justify-content: space-between; } }
  @media (min-width: 561px) {
    .iconbox {
      width: 50%;
      justify-content: space-around; } }
  .iconbox .icon-bg {
    display: block;
    text-align: center;
    -moz-box-shadow: 1px 3px 6px 1px #E3E3E3;
    -webkit-box-shadow: 1px 3px 6px 1px #E3E3E3;
    box-shadow: 1px 3px 6px 1px #E3E3E3; }
    @media (max-width: 560px) {
      .iconbox .icon-bg {
        width: 70px;
        height: 70px;
        padding: 15px;
        -moz-border-radius: 35px;
        -webkit-border-radius: 35px;
        border-radius: 35px; }
        .iconbox .icon-bg img {
          width: 40px; } }
    @media (min-width: 561px) {
      .iconbox .icon-bg {
        width: 90px;
        height: 90px;
        padding: 20px;
        -moz-border-radius: 45px;
        -webkit-border-radius: 45px;
        border-radius: 45px; }
        .iconbox .icon-bg img {
          width: 50px; } }
    .iconbox .icon-bg #twitter_icon, .iconbox .icon-bg #mai_icon {
      padding-top: 5px; }

.contact__mailbox {
  width: 80%;
  margin: 0 auto;
  text-align: center; }
  .contact__mailbox:hover .contact__icon-bg {
    background-color: #f7f7f7; }
  .contact__mailbox img {
    width: 24px;
    height: auto; }
  .contact__mailbox__address {
    letter-spacing: 1px;
    color: #515151; }
.contact .contact__icon-bg {
  display: inline-block;
  margin-right: 8px;
  padding: 11px 10px;
  text-align: center;
  -moz-box-shadow: 1px 3px 6px 1px #E3E3E3;
  -webkit-box-shadow: 1px 3px 6px 1px #E3E3E3;
  box-shadow: 1px 3px 6px 1px #E3E3E3;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  border-radius: 22px; }

.footer {
  width: 100%;
  height: 100px;
  background-color: #F5F5F5;
  text-align: center; }
  .footer__text {
    line-height: 100px; }
    @media (max-width: 560px) {
      .footer__text {
        font-size: 12px;
        font-size: 0.75rem; } }
    @media (min-width: 561px) {
      .footer__text {
        font-size: 14px;
        font-size: 0.875rem; } }

.question-box {
  display: none;
  position: absolute;
  top: 24px;
  right: 0;
  padding: 32px 24px;
  line-height: 25px;
  color: #948C76;
  background-color: #F9F8F5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-size: 0.875rem; }
  .question-box li {
    display: flex; }
    .question-box li span {
      display: block;
      width: 50%; }

/*# sourceMappingURL=style.css.map */
