*{
  box-sizing: border-box;
}

p{
  margin: 0;
}

ul{
  list-style: none;
  padding: 0;
}

a{
  text-decoration: none;
  color: $text-color;
}

.marker{
  background: linear-gradient(transparent 60%, #fca1a1 60%);
}

.bold-text{
  font-weight: bold;
}

.link-hover:hover{
  text-decoration: underline;
}

.underline{
  text-decoration: underline;
}


//pc-size animationなど
@media #{$pc-size}{
  
  //worksにhoverでmask
  .masks:hover{
    @include opacity(.5);
  }
  
  //sns-icon rotate
   .iconbox li{
     transform: rotate(360deg);
     
     &:hover{
       animation: rotate 0.4s linear;
     }
   }
   
   @keyframes rotate{
    0% { transform: rotate(0deg);}
    50% { transform: rotate(180deg);}
    100%{ transform: rotate(360deg);}
  }
}

//skill-block fadein(sp)
@media #{$sp-size}{
  .fadein {
    opacity: 0;
    transform : translate(0, 100px);
    transition : all 1500ms;
  }
  
  .fadein.scrollin{
    opacity: 1;
    transform: translate(0, 0);
  }
}