//device
$sp-size: '(max-width: 560px)';
$tb-size: '(min-width: 561px) and (max-width: 1024px)';
$pc-size: '(min-width: 1025px)';

$more-than-tb: '(min-width: 561px)';
$less-than-tb: '(max-width: 1024px)';

$skillbox-flex: '(min-width: 800px)';
$skillbox-block: '(max-width: 799px)';

$contents-font: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
$main-font: 'TsukuARdGothic-Regular','MS UI Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;

//font-color
$text-color: #515151;